<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{starship.model}}</mat-card-title>
        <mat-card-subtitle>{{starship.description}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <p>Details:</p>
        <section class="details">
            <span [id]="'starshipClass' + id"><i>Starship Class: </i> {{starship.starshipClass}}</span>
            <span [id]="'starshipCrew'+ id"><i><b>Crew:</b> </i> <b>{{starship.crew ? starship.crew : '-'}}</b></span>
            <span [id]="'starshipManufacturer'+ id"><i>Manufacturer: </i>{{starship.manufacturer}}</span>
            <span [id]="'starshipCost'+ id"><i>Cost in Credits: </i>{{starship.costInCredits}}</span>
            <span [id]="'starshipLength'+ id"><i>Length: </i>{{starship.length}}</span>
            <span [id]="'starshipPassengers'+ id"><i>Passengers: </i>{{starship.passengers}}</span>
            <span [id]="'starshipMax'+ id"><i>Max Atmosphering Speed: </i>{{starship.maxAtmospheringSpeed}}</span>
            <span [id]="'starshipHyperdrive'+ id"><i>Hyperdrive Rating: </i>{{starship.hyperdriveRating}}</span>
            <span [id]="'starshipMglt'+ id"><i>Mglt: </i>{{starship.mglt}}</span>
            <span [id]="'starshipCargo'+ id"><i>Cargo Capacity: </i>{{starship.cargoCapacity}}</span>
            <span [id]="'starshipCreated'+ id"><i>Created: </i>{{starship.created | date:"YYY-MM-dd 'at' hh:mm a" }}</span>
            <span [id]="'starshipEdited'+ id"><i>Edited: </i>{{starship.edited | date:"YYY-MM-dd 'at' hh:mm a"}}</span>
        </section>  
    </mat-card-content>
  </mat-card>