:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-items {
    display: flex;
    justify-content: space-evenly;
}

header {
    text-align: center;
    padding-top: 10px;
}

.center {
    text-align: center;
}

.flex{
    display: flex;
    flex-direction: column;
    gap:10px;
}